# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Respaldos locales de la base de datos
db.sqlite3.bak
*.sqlite3-journal

# Estáticos recolectados
/staticfiles/

# Sistema
.DS_Store
Thumbs.db
